.footer {
    min-height: 100px;
    background-color: rgb(103, 87, 177);
    position: relative;
  }
  
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background-color: rgb(67, 51, 139);
    font-weight: bolder;
    font-size: 24px;
    color: white;
  }
  